# Project dependencies
single-page/.cache
single-page/node_modules
single-page/yarn-error.log
.cache
node_modules
yarn-error.log

# Build directory
single-page/public
single-page/.DS_Store
public
.DS_Store
